@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
}

/* Tema escuro é o padrão */
body {
  @apply bg-slate-900;
}

/* Quando o tema é claro */
body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: background-color 0.3s ease;
}

/* Dark theme */
.dark body {
  background-color: #0f172a;
}

.container {
  @apply flex max-w-7xl mx-auto p-10;
}

.left-column {
  @apply w-2/5 sticky top-10 h-screen flex flex-col justify-between;
}

.right-column {
  @apply w-3/5 pl-10;
}

h1 {
  @apply text-4xl mb-2 font-bold text-slate-800 dark:text-slate-200;
}

h2 {
  @apply text-xl mb-6 text-slate-700 dark:text-slate-400;
}

nav ul {
  @apply list-none p-0;
}

nav li {
  @apply mb-4;
}

nav a {
  @apply text-slate-900 dark:text-slate-200 no-underline font-bold;
}

section {
  @apply mb-12;
}

section h2 {
  @apply text-2xl text-slate-800 dark:text-slate-200 mb-6;
}